@charset
/* 共通部分 
---------------------*/
html{
  line-height: 1.7;
  font-size: 100%;
  background-color: #333;
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
  display: block;
}
/* HEADER 
----------------------*/
header{
  /* height: 30px; */
  /* position: absolute; */
  /* top: 300px; */
  background-color: #333;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: serif;
}

/* Menu
-----------------------*/

ul {
  /* overflow:hidden;  */
  list-style:none;
  /* z-index: 20; */
}
 
ul li {
  display: inline-block;
  padding: 26px 10px 20px 10px;
}
.btn4{
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  color: white;
}

.btn4::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #3367ff;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.btn4:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.baner{
  color: #fff;
  background-color: #333;
}
.lineup{
  color: #fff;
  background-color: #333;
  font-family: serif;
}
.goods{
  color: #dddddd;
  background-color: #333;
}
.video{
  color: #fff;
  background-color: #333;
}
.shiyou{
  color: #fff;
  background-color: #333;
  font-family: serif;
}
.service{
  color: #fff;
  background-color: #333;
}
.syoukai{
  background: blue;
}
.priceless{
  background-color: #333;
}
.question{
  background-color: #333;
}
.form{
  color: #fff;
  background-color: #333;
}
.contact{
  color: #fff;
  background-color: #333;
  font-family: serif;
}